.livro-card {
  border-radius: 8px;
  border: 1px solid #c3c3c3;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  padding: 15px;
  align-items: flex-start;
  margin-bottom: 2%;
}

.livro-card__info {
  width: 100%;
}

.livro-card__nome {
  font-size: 20px;
  color: #2c3e50;
  margin-top: auto;
  margin-bottom: 10px;
}

.livro-card__autor {
  font-size: 16px;
  font-weight: 500;
  color: #3498db;
}

.livro-card__footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #95a5a6;
  font-weight: 500;
  padding: 5px;
}

.livro-card__editora {
  margin-left: 100px;
  margin-right: auto;
}
